
  <!--slider-->

	<section class="flexible">
		<section class="main-banner flexible" #slider (window:resize)="sliderObj.updateSize()">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="buttons">
							<a ><img (click)="sliderObj.leftMove()" src="../../assets/images/left-game.png" class="my-img-responsive pull-left"></a>

							<a ><img (click)="sliderObj.rightMove()" src="../../assets/images/right-btn.png" class="my-img-responsive pull-right"></a>

							<div class="clearfix"></div>

							<a routerLink="eventregister" class="btn btn-default custom-btn">Register Now</a>
						</div>
					</div><!--end col xs12-->
				</div><!--end row-->
			</div><!--end container-->
	</section><!--end main banner-->

	<section class="content flexible">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 custom-col text-left white text-capitalize">
					<h2>be our official hosting partner sign up now</h2>
					<p class="lead">Earn money and get commission by refering  gamer. Host our events and stream live video on twitch. for more info sign up today</p>
				</div><!--end col xs 10-->
			</div><!--end row-->
		</div><!--end container-->
	</section><!--end content section-->
	</section>





