<header class="header flexible">
  <div class="container">
    <div class="row">

      <div class="col-sm-3 text-center" routerLink="/">
        <img src="assets/images/logo.png" class="my-img-responsive">
      </div><!--end col xs3-->

      <div class="col-sm-9">

        <div class="col-sm-2 text-center" routerLink="/events">
          <div class="icon-holder white green">
            <p class="text-left"><small>Events</small></p>
            <img src="assets/images/trophy.png" class="my-img-responsive text-center">
          </div><!--end icon holder-->
        </div><!--end col xs2-->

        <div class="col-sm-2 text-center" routerLink="/live">
          <div class="icon-holder white blue">
            <p class="text-left"><small>Live</small></p>
            <img src="assets/images/video-camera.png" class="my-img-responsive text-center">
          </div><!--end icon holder-->
        </div><!--end col xs2-->

        <div class="col-sm-2 text-center" routerLink="/scoreboard">
          <div class="icon-holder white orange">
            <p class="text-left"><small>Scoreboard</small></p>
            <img src="assets/images/teacher-pointing-a-board-with-a-stick.png" class="my-img-responsive text-center">
          </div><!--end icon holder-->
        </div><!--end col xs2-->

        <div class="col-sm-2 text-center" routerLink="/schedules">
          <div class="icon-holder white green">
            <p class="text-left"><small>Schedules</small></p>
            <img src="assets/images/calendar-day-15.png" class="my-img-responsive text-center">
          </div><!--end icon holder-->
        </div><!--end col xs2-->

        <div class="col-sm-2 text-center" routerLink="/signup">
          <div class="icon-holder white orange">
            <p class="text-left"><small>Sign up</small></p>
            <img src="assets/images/clipboard-with-pencil-.png" class="my-img-responsive text-center">
          </div><!--end icon holder-->
        </div><!--end col xs2-->

        <div class="col-sm-2 text-center" routerLink="/login">
          <div class="icon-holder white blue">
            <p class="text-left"><small>Login</small></p>
            <img src="assets/images/man-user.png" class="my-img-responsive text-center">
          </div><!--end icon holder-->
        </div><!--end col xs2-->
      </div><!--end col xs9-->
    </div><!--end row-->

    <div class="clearfix"></div><!--clearfix-->

    <div class="row">
      <div class="col-xs-6 col-xs-offset-6 text-right">
        <ul class="list-inline linker-list pull-left">
          <li>
            <a  class="text-muted"><i class="fa fa-facebook"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-google-plus"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-twitter"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-support"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-linkedin"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-vimeo"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-youtube"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-lastfm"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-pinterest"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-dropbox"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-skype"></i></a>
          </li>

          <li>
            <a  class="text-muted"><i class="fa fa-wordpress"></i></a>
          </li>
        </ul><!--end linker list-->
        <ul class="list-inline pull-right seperat">
          <li>
            <a ><small>Social Network</small> <span><i class="fa fa-lightbulb-o"></i></span></a>
          </li>
        </ul>
      </div><!--end col xs 6 with offset-->
    </div><!--end row-->
  </div><!--end container-->
  <div class="clearfix"></div>
</header><!--end header-->

<router-outlet></router-outlet>

<footer class="footer flexible text-capitalize">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-left">
        <h2 class="text-prime text-center">events news</h2>
        <p class="lead white">
          GTA 5: my territory 15th jan 2015
        </p>

        <p class="lead white">
          event registration last date 12th jan 2015
        </p>

        <p class="lead white">
          event will be for Xbox 360 , Xbox one , Ps3 , Ps4
        </p>

      </div><!--end col sm3-->

      <div class="col-md-5 col-md-offset-4">
        <h2 class="text-prime text-center">upcoming events</h2>
        <p class="lead white">
          <i class="fa fa-trophy"></i> Grand theft auto outlin : my territory
        </p>

        <p class="lead white" id="sep">
          my territory : Xbox 360 ,  Xbox one , Ps3 , PS4
        </p>
      </div><!--end col md5-->
    </div><!--end row-->

    <div class="row">
      <div class="col-md-4 text-center">
        <br><br>
        <img src="assets/images/logo2.png" class="my-img-responsive">
      </div><!--end col md4-->

      <div class="col-md-4 text-left text-capitalize">
        <h2 class="text-prime text-center">about company</h2>
        <p class="text-prime">
          hi everyone it is the website which host events and tournaments for the video gamers. We host multiplayer tournaments of various games.
        </p>


      </div><!--end col md4-->

      <div class="col-md-4 text-center text-capitalize">
        <img src="assets/images/help.png" class="my-img-responsive">
        <h2 class="text-prime text-center">support and help</h2>
      </div><!--end col md4-->
    </div><!--end row-->
  </div><!--end container-->
</footer><!--end footer-->
