
  <section class="flexible">
  	<section class="register-event flexible">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">

					<div class="col-xs-2 text-center">
						<img src="assets/images/register.png" class="my-img-responsive">
						<p class="text-muted">Register</p>
					</div><!--end col xs 2-->

					<div class="col-xs-3">
						<img src="assets/images/arrow.png" class="my-img-responsive arrow">
					</div><!--end col xs 2-->

					<div class="col-xs-2 text-center">
						<img src="assets/images/card.png" class="my-img-responsive">
						<p class="text-muted">Play</p>
					</div><!--end col xs 2-->

					<div class="col-xs-3">
						<img src="assets/images/arrow.png" class="my-img-responsive arrow">
					</div><!--end col xs 2-->

					<div class="col-xs-2 text-center">
						<img src="assets/images/enjoy.png" class="my-img-responsive">
						<p class="text-muted">Enjoy</p>
					</div><!--end col xs 2-->
				</div><!--end arrow content-->
			</div><!--end row-->
			<div class="clearfix"></div>

			<div class="row">
				<div class="col-sm-3 col-xs-hidden text-center">
					<img src="assets/images/man.png" class="my-img-responsive">
				</div><!--end left image-->

				<div class="col-sm-6 col-xs-12 text-center">
					<form class="form-horizontal" action="#" method="get">
					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="fname">First Name</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="fname" name="name">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="Lname">Last Name</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="Lname" name="lname">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="email">Email Address</label>
						      <div class="col-sm-6">
						        <input type="email" class="form-control" id="email" name="mail">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="email2">Email Address</label>
						      <div class="col-sm-6">
						        <input type="email" class="form-control" id="email2" name="mail2">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="dob">Date of birth</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="dob" name="date" placeholder="YYYY-MM-DD">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="gender">gender</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="gender">
									  <option value="select">select</option>
									  <option value="male">male</option>
									  <option value="female">female</option>					
								</select> 
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="event">Event</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="event">
									  <option value="GTA5">GTA5</option> 					
								</select> 
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="gaming">Gaming Platform</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="gaming">
									  <option value="GTA5">Select</option> 					
								</select> 
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="cont">Country</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="cont">
									  <option value="GTA5">Select</option> 					
								</select> 
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="no">Phone number</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="no" name="number" >
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						     <div class="col-sm-1 text-right col-sm-offset-3">
						     	 <input type="checkbox" name="check" id="terms">
						     </div><!--endocl sm3-->
						      <div class="col-sm-8 text-left">
						        <label for="terms">I have read the <a  >terms and conditions</a></label>
						      </div>
					    </div><!--end form group-->

					    <div class="form-group btn-form">
						     <div class="col-sm-4 text-center col-sm-offset-2">
						     	 <button class="btn btn-default">Register (Global)</button>
						     </div><!--endocl sm3-->
						      <div class="col-sm-4 text-center">
						        <button class="btn btn-default">Register (India)</button>
						      </div>
					    </div><!--end form group-->
					</form><!--end form-->
				</div><!--end left image-->

				<div class="col-sm-3 text-center">
					<img src="assets/images/man2.png" class="my-img-responsive">
				</div><!--end left image-->
			</div><!--end row-->
			<div class="clearfix"></div><br>

			<div class="row">
				<div class="col-sm-4 col-sm-offset-4 text-center col-xs-12">
					<img src="assets/images/powered.png" class="my-img-responsive">
					<p class="lead text-muted">Powered by</p>
				</div><!--end img holder-->
			</div><!--end third row-->
		</div><!--end container-->
	</section><!--end register event-->
  </section>

