<section class="flexible">
  	<section class="register-event flexible">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">

					<div class="col-xs-10 col-xs-offset-1 text-center quote-holder">
						<img src="assets/images/quote.png" class="my-img-responsive pull-left">
						<p class="text-muted pull-left lead">Join Us for fun, enjoyment and gaming</p>
            <br>
            <h3 class="text-capitalize page-header text-warning"><i class="fa fa-money"></i> {{type}}</h3>
					</div><!--end col xs 2-->
				</div><!--end arrow content-->
			</div><!--end row-->
			<div class="clearfix"></div><br><br>

			<div class="row">

				<div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<form class="form-horizontal" action="#" method="get">
					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-fname">First Name</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="s-fname" name="sfname">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-Lname">Last Name</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="s-Lname" name="slname">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-tag">Otag</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="s-tag" name="otag">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-quote">Quote</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="s-quote" name="quote">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-email">Email Address</label>
						      <div class="col-sm-6">
						        <input type="email" class="form-control" id="s-email" name="smail">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-dob">Date of birth</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="s-dob" name="sdate" placeholder="YYYY-MM-DD">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-gender">gender</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="s-gender">
									  <option value="select">select</option>
									  <option value="male">male</option>
									  <option value="female">female</option>
								</select>
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="pwd">Password</label>
						      <div class="col-sm-6">
						      	<input type="password" class="form-control" id="pwd" name="password">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-re-pwd">Re-Password</label>
						      <div class="col-sm-6">
						      	<input type="password" class="form-control" id="s-re-pwd" name="repassword">
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-mem">Membership Duration</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="s-mem">
									  <option value="GTA5">Select</option>
								</select>
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-cont">Country</label>
						      <div class="col-sm-6">
						         <select class="form-control" id="s-cont">
									  <option value="GTA5">Select</option>
								</select>
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						      <label class="control-label col-sm-3 col-sm-offset-1" for="s-no">Phone number</label>
						      <div class="col-sm-6">
						        <input type="text" class="form-control" id="s-no" name="snumber" >
						      </div>
					    </div><!--end form group-->

					    <div class="form-group">
						     <div class="col-sm-1 text-right col-sm-offset-3">
						     	 <input type="checkbox" name="scheck" id="s-terms">
						     </div><!--endocl sm3-->
						      <div class="col-sm-8 text-left">
						        <label for="s-terms">I have read the <a  >terms and conditions</a></label>
						      </div>
					    </div><!--end form group-->

					    <div class="form-group btn-form">
						     <div class="col-sm-4 text-center col-sm-offset-4">
						     	 <button class="btn btn-default">SIGN UP</button>
						     </div><!--endocl sm3-->
					    </div><!--end form group-->
					</form><!--end form-->
				</div><!--end left image-->
			</div><!--end row-->
			<div class="clearfix"></div><br>

			<div class="row">
				<div class="col-sm-4 col-sm-offset-4 text-center col-xs-12">
					<img src="assets/images/powered.png" class="my-img-responsive">
					<p class="lead text-muted">Powered by</p>
				</div><!--end img holder-->
			</div><!--end third row-->
		</div><!--end container-->
	</section><!--end register event-->
  </section><br><br>

